In [1]:
import pandas as pd

In [2]:
from sklearn import metrics
from sklearn.svm import LinearSVC
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
#Reading csv file from train tokens
mydata = pd.read_csv("train_tokens.csv", index_col = 0)

In [8]:
mydata.head()

,aap,abc,abc_new,abil,aborigin,absolut,abus,accept,access,accid,...,wound,write,written,wrong,year,years_ago,yesterday,young,zone,class_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.218998,0.0,C1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.062848,0.0,0.000000,0.000000,0.0,C1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.104712,0.0,0.000000,0.000000,0.0,C1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.280534,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.114205,0.000000,0.0,C1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,C1

In [9]:
mydata.shape

(106445, 1376)

In [11]:
c1 = mydata[mydata['class_id'] == "C1"]
c2 = mydata[mydata['class_id'] == "C2"]
c3 = mydata[mydata['class_id'] == "C3"]
c4 = mydata[mydata['class_id'] == "C4"]
c5 = mydata[mydata['class_id'] == "C5"]
c6 = mydata[mydata['class_id'] == "C6"]
c7 = mydata[mydata['class_id'] == "C7"]
c8 = mydata[mydata['class_id'] == "C8"]
c9 = mydata[mydata['class_id'] == "C9"]
c10 = mydata[mydata['class_id'] == "C10"]

In [12]:
c11 = mydata[mydata['class_id'] == "C11"]
c12 = mydata[mydata['class_id'] == "C12"]
c13 = mydata[mydata['class_id'] == "C13"]
c14 = mydata[mydata['class_id'] == "C14"]
c15 = mydata[mydata['class_id'] == "C15"]
c16 = mydata[mydata['class_id'] == "C16"]
c17 = mydata[mydata['class_id'] == "C17"]
c18 = mydata[mydata['class_id'] == "C18"]
c19 = mydata[mydata['class_id'] == "C19"]
c20 = mydata[mydata['class_id'] == "C20"]
c21 = mydata[mydata['class_id'] == "C21"]
c22 = mydata[mydata['class_id'] == "C22"]
c23 = mydata[mydata['class_id'] == "C23"]

In [13]:
#Taking 80$ of the samples from each class labels
samp_c1 = c1.sample(frac=0.8, replace=False)
samp_c2 = c2.sample(frac=0.8, replace=False)
samp_c3 = c3.sample(frac=0.8, replace=False)
samp_c4 = c4.sample(frac=0.8, replace=False)
samp_c5 = c5.sample(frac=0.8, replace=False)
samp_c6 = c6.sample(frac=0.8, replace=False)
samp_c7 = c7.sample(frac=0.8, replace=False)
samp_c8 = c8.sample(frac=0.8, replace=False)
samp_c9 = c9.sample(frac=0.8, replace=False)
samp_c10 = c10.sample(frac=0.8, replace=False)
samp_c11 = c11.sample(frac=0.8, replace=False)

In [17]:

samp_c12 = c12.sample(frac=0.8, replace=False)
samp_c13 = c13.sample(frac=0.8, replace=False)
samp_c14 = c14.sample(frac=0.8, replace=False)
samp_c15 = c15.sample(frac=0.8, replace=False)
samp_c16 = c16.sample(frac=0.8, replace=False)
samp_c17 = c17.sample(frac=0.8, replace=False)
samp_c18 = c18.sample(frac=0.8, replace=False)
samp_c19 = c19.sample(frac=0.8, replace=False)
samp_c20 = c20.sample(frac=0.8, replace=False)
samp_c21 = c21.sample(frac=0.8, replace=False)
samp_c22 = c22.sample(frac=0.8, replace=False)
samp_c23 = c23.sample(frac=0.8, replace=False)

In [18]:
#Merging all each of the sampled data frame into one big data frame`
mydata1 = samp_c1.append([samp_c2,samp_c3,samp_c4,samp_c5,samp_c6,samp_c7,samp_c8,samp_c9,samp_c10,samp_c11,
                    samp_c12,samp_c13,samp_c14,samp_c15,samp_c16,samp_c17,samp_c18,samp_c19,samp_c20,samp_c21,
                     samp_c22,samp_c23])

In [20]:
id1 = mydata.index.values

In [21]:
id2 = mydata1.index.values

In [22]:
print(len(set(id2)))

85156

In [23]:
diff_id = list(set(id1) - set(id2))

In [24]:
#print(diff_id)

In [25]:
#diff_id = set(diff_id)

In [26]:
diff_id.sort()

In [28]:
# Making the remaining 20% of the train data as test data to check for accuracy
testdata1 = mydata.iloc[diff_id,]

In [29]:
testdata1.shape

(21289, 1376)

In [30]:
#Shuffling sample test data
testdata1 = testdata1.sample(frac=1, replace=False)

In [31]:
mydata.shape

(106445, 1376)

In [32]:
testdata1.shape

(21289, 1376)

In [33]:
#mydata1

In [42]:
train_labels = mydata1['class_id']

In [55]:
#train_labels

3563       C1
728        C1
471        C1
706        C1
82         C1
1899       C1
2866       C1
1691       C1
2180       C1
992        C1
2663       C1
3905       C1
1320       C1
3330       C1
507        C1
309        C1
128        C1
2271       C1
1707       C1
2614       C1
1959       C1
404        C1
1750       C1
3494       C1
2201       C1
2601       C1
419        C1
3149       C1
227        C1
2454       C1
         ...
102989    C23
106071    C23
104898    C23
102379    C23
104118    C23
105458    C23
105276    C23
105034    C23
104925    C23
102199    C23
102937    C23
103427    C23
105785    C23
103376    C23
104463    C23
103690    C23
102687    C23
104793    C23
104048    C23
106091    C23
104840    C23
105130    C23
105397    C23
106145    C23
104625    C23
104819    C23
104221    C23
105986    C23
102572    C23
103475    C23
Name: class_id, Length: 85156, dtype: object

In [44]:
#Getting train features
features = mydata1.iloc[:, :-1]

In [50]:
#Getting test labels
test_labels = pd.DataFrame(testdata1['class_id'])

In [51]:
#Getting test features
test_features = testdata1.iloc[:, :-1]

In [52]:
# calling LinearSVM function
svm = LinearSVC()

In [53]:
train_labels.shape

(85156,)

In [54]:
features.shape

(85156, 1375)

In [57]:
#fitting the svm model on train data
model = svm.fit(features, train_labels)

In [58]:
#Predicting the class labels
y_pred_class_svm = svm.predict(test_features)

In [59]:
y_pred_class_svm

array(['C11', 'C13', 'C7', ..., 'C7', 'C6', 'C22'], dtype=object)

In [61]:
import numpy as np

In [62]:
print("Support Vector Machine Accuracy:",np.round(metrics.accuracy_score(test_labels, y_pred_class_svm) * 100,2))

Support Vector Machine Accuracy: 72.43