In [37]:
import pandas as pd

In [38]:
from sklearn import metrics
from sklearn.svm import LinearSVC
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
mydata = pd.read_csv("train_tokens.csv", index_col = 0)

In [4]:
mydata1 = pd.read_csv("test_tokens.csv", index_col = 0)

In [5]:
#mydata.rename(columns={'ClassLabel': 'class'}, inplace=True)

In [6]:
mydata.head()

,aap,abc,abc_new,abil,aborigin,absolut,abus,accept,access,accid,...,wound,write,written,wrong,year,years_ago,yesterday,young,zone,class_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.218998,0.0,C1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.062848,0.0,0.000000,0.000000,0.0,C1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.104712,0.0,0.000000,0.000000,0.0,C1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.280534,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.114205,0.000000,0.0,C1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,C1

In [7]:
mydata.shape

(106445, 1376)

In [8]:
mydata1.shape

(26610, 1382)

In [9]:
traindata = mydata.sample(frac=1, replace=False)

In [10]:
traindata.shape

(106445, 1376)

In [11]:
#testdata1.shape

In [12]:
#mydata1

In [13]:
train_labels = traindata['class_id']

In [14]:
#train_labels

In [15]:
features = traindata.iloc[:, :-1]

In [16]:
features.shape

(106445, 1375)

In [17]:
#import numpy as np

In [18]:
#label_array = np.array(train_labels)

In [19]:
#train_labels

In [20]:
#print(X_train)

In [21]:
#test_labels = pd.DataFrame(testdata1['class_id'])

In [22]:
mydata1.head()

,aap,abc,abc_new,abil,aborigin,absolut,abus,accept,access,accid,...,wouldn,wound,write,written,wrong,year,years_ago,yesterday,young,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.135274,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.047941,0.113122,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.328131,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.159590,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.208035,0.0,0.000000,0.000000,0.0,0.0,0.0

In [23]:
svm = LinearSVC()

In [24]:
train_labels.shape

(106445,)

In [25]:
features.shape

(106445, 1375)

In [26]:
svm_model = svm.fit(features, train_labels)

In [29]:
for column in mydata1.columns:
    if column not in features.columns:
        mydata1.drop([column], axis=1, inplace=True)

In [ ]:
for column in features.columns:
    if column not in mydata1.columns:
        mydata1[column] = 0

In [32]:
#X_test=svm.transform(mydata1)
#classifier.predict(X_test)
mydata1.shape

(26610, 1375)

In [33]:
y_pred_class_svm = svm.predict(mydata1)

In [45]:
#len(doc_id)

26610

In [42]:
doc_id = mydata1.index.values.tolist()

In [35]:
pred_list = y_pred_class_svm.tolist()

In [ ]:
#print("Support Vector Machine Accuracy:",np.round(metrics.accuracy_score(test_labels, y_pred_class_svm) * 100,2))

In [46]:
with open('prediction_values_docid_python.txt', 'w') as f:
    for did,item in zip(doc_id,pred_list):
        f.write("%s, %s\n" %(did,item))